<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Danh sách chức năng</h1>
    </div>
</section>
<div class="list-group">
    <a routerLink="/shop" class="list-group-item list-group-item-action   d-flex justify-content-center"  aria-current="true">
        Hiển thị danh sách cầu thủ 
    </a>
    <a routerLink="/clubs" class="list-group-item list-group-item-action   d-flex justify-content-center"> Hiển thị danh sách câu lạc bộ</a>
    <a routerLink="/addplayer" class="list-group-item list-group-item-action   d-flex justify-content-center">Thêm một cầu thủ mới</a>
    <a routerLink="/addclub"class="list-group-item list-group-item-action   d-flex justify-content-center">Thêm một câu lạc bộ mới</a>
    <a routerLink="/intro" class="list-group-item list-group-item-action d-flex justify-content-center">Giới thiệu</a>
  </div>